/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#myrows .row-title {

    background-color:#f8f6ea;
    font-family: 'Source Sans Pro', sans-serif;
}

#myrows .row-odd {
    background-color:#FFFFFF;
    font-family: 'Source Sans Pro', sans-serif;
}

#myrows .row-even {
    background-color:#f8f6ea;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-size:16px
}

footer {
    margin: 50px 0;
}
